/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
  }
  
#navbar a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}

/* Timeline */

.timeline_base {
    stroke: gray;
    stroke-width: 4;
}

.timeline_tick {
    stroke: gray;
    stroke-width: 4;
}

.timeline_end_text {
    fill: lightslategray;
    font-size: 24;
}

.timeline_century_text {
    fill: lightslategray;
    font-size: 16;
}

.timeline_event text {
    fill: gray;
    font-size: 9;
}

.timeline_event:hover {
    cursor: pointer;
}

.timeline_event:hover circle {
    transition: all 0.25s ease-out;
    fill: cyan;
}

.timeline_event:hover line {
    transition: all 0.25s ease-out;
    stroke: cyan;
}

.timeline_event:hover text {
    transition: all 0.25s ease-out;
    fill: cyan; /* TODO better color */
}