(
    time_period: (
        start: Year(1300),
        end: Year(2025),
    ),
    events: [
        (
            title: "Black Death",
            summary: "A devastating pandemic that resulted in the deaths of an estimated 25 million people in Europe, significantly impacting the continent's social and economic structures.",
            link: "https://en.wikipedia.org/wiki/Black_Death",
            time: Period((
                start: Year(1348),
                end: Year(1351),
            )),
            color: "yellow",
        ),
        (
            title: "Hundred Years' War",
            summary: "A series of conflicts between England and France over succession to the French throne, significantly affecting both nations' development.",
            link: "https://en.wikipedia.org/wiki/Hundred_Years%27_War",
            time: Period((
                start: Date((
                    year: 1337,
                    month: 1,
                    day: 1,
                )),
                end: Date((
                    year: 1453,
                    month: 12,
                    day: 31,
                )),
            )),
            color: "yellow",
        ),
        (
            title: "The Renaissance",
            summary: "A rebirth of art and literature associated with the rediscovery of ancient Greek texts. Ended the Dark Ages and set humanity on a path toward modernity.",
            link: "https://en.wikipedia.org/wiki/Renaissance",
            time: Period((
                start: Year(1300),
                end: Year(1527),
            )),
            color: "purple",
        ),
        (
            title: "Protestant Reformation",
            summary: "A major religious movement that challenged the authority of the Catholic church.",
            link: "https://en.wikipedia.org/wiki/Reformation",
            time: Period((
                start: Year(1517),
                end: Year(1648)
            )),
            color: "purple",
        ),
        (
            title: "Treaty of Westphalia",
            summary: "Ended the Thirty Years' War and the use of religion to justify conflict.",
            link: "https://en.wikipedia.org/wiki/Peace_of_Westphalia",
            time: Single(Date((
                year: 1648,
                month: 10,
                day: 24,
            ))),
            color: "red",
        ),
        (
            title: "Thirty Years' War",
            summary: "One of the most destructive conflicts in European History. Catholic and Protestant countries engaged in open religious war, caused by tensions of the Reformation.",
            link: "https://en.wikipedia.org/wiki/Thirty_Years%27_War",
            time: Period((
                start: Date((
                    year: 1618,
                    month: 5,
                    day: 23,
                )),
                end: Date((
                    year: 1648,
                    month: 10,
                    day: 24,
                )),
            )),
            color: "yellow",
        ),
        // TODO maybe the 4 phases of Thirty Years War (https://quizlet.com/439360858/chapter-15-the-four-phases-of-the-thirty-years-war-flash-cards/)
        (
            title: "Defenestration of Prague",
            summary: "People in Prague threw Roman Catholic officials out of a window. This marked the beginning of the Thirty Years' War.",
            link: "https://www.britannica.com/event/Defenestration-of-Prague-1618",
            time: Single(Date((
                year: 1618,
                month: 5,
                day: 23,
            ))),
            color: "yellow",
        ),
        (
            title: "Peace of Augsburg",
            summary: "The treaty that ended religious struggle between Charles V and the Lutheran states of the Holy Roman Empire. It allowed rulers within the HRE to decide the religion of their territory, independent of the Emperor's religion. It was the first example of limited religious toleration.",
            link: "https://en.wikipedia.org/wiki/Peace_of_Augsburg",
            time: Single(Year(1555)),
            color: "yellow",
        ),
        (
            title: "Creation of the Printing Press",
            summary: "Invented by Johannes Gutenberg, it greatly facilitated the spread of ideas by making it cheap to mass produce copies of a written work. Because literature became so much more readily available, the literacy rates rose. Literature was no longer only for the wealthy and powerful.",
            link: "https://en.wikipedia.org/wiki/Printing_press",
            time: Single(Year(1440)),
            color: "orange",
        ),
        (
            title: "Edict of Nantes",
            summary: "Declared by King Henry IV, it granted religious tolerance to French Huguenots (Calvinists) in certain towns where they had a majority population.",
            link: "https://en.wikipedia.org/wiki/Edict_of_Nantes",
            time: Single(Date((
                year: 1598,
                month: 4,
                day: 13,
            ))),
            color: "yellow",
        ),
        (
            title: "Columbus Discovers America",
            summary: "Columbus travels over the Atlantic Ocean and discovers America by mistake, revealing it to the rest of Europe.",
            link: "https://en.wikipedia.org/wiki/Christopher_Columbus",
            time: Single(Year(1492)),
            color: "orange",
        ),
        (
            title: "Age of Exploration",
            summary: "Due to advancements in navigational technology, maps discovered as part of the Renaissance, and many other factors, Europeans began exploring and colonizing lands around the world.",
            link: "https://en.wikipedia.org/wiki/Age_of_Discovery",
            time: Period((
                start: Year(1418),
                end: Year(1620),
            )),
            color: "purple",
        ),
        (
            title: "Spanish Armada",
            summary: "A major failure for the Spanish navy, this marked the decline of Spain and the rise of England as a naval power.",
            link: "https://en.wikipedia.org/wiki/Spanish_Armada",
            time: Single(Year(1588)),
            color: "yellow",
        ),
        (
            title: "Reign of Louis XIV",
            summary: "Louis XIV, under guidance of Cardinal Richelieu and Jean-Baptiste Colbert, implemented mercantilism and worked to centralize the power of the French state. Using things like Versailles, he successfully established absolute power over France.",
            link: "https://en.wikipedia.org/wiki/Louis_XIV",
            time: Period((
                start: Date((
                    year: 1643,
                    month: 5,
                    day: 14
                )),
                end: Date((
                    year: 1715,
                    month: 9,
                    day: 1,
                )),
            )),
            color: "yellow",
        ),
        (
            title: "Copernican Hypothesis",
            summary: "Copernicus publishes a theory that the Earth and all other planets in our solar system revolve around the Sun. This goes directly against Christian belief that the Earth is the center of the universe and the planets revolve around us.",
            link: "https://en.wikipedia.org/wiki/Copernican_heliocentrism",
            time: Single(Year(1543)),
            color: "yellow",
        ),
        (
            title: "Age of Enlightenment",
            summary: "Major intellectual movement throughout Europe. People began to apply reason and scientific principles to society, politics, and philosophy.",
            link: "https://en.wikipedia.org/wiki/Age_of_Enlightenment",
            time: Period((
                start: Year(1601),
                end: Year(1800),
            )),
            color: "purple",
        ),
        (
            title: "Scientific Revolution",
            summary: "A series of events that lead to the development of modern science.",
            link: "https://en.wikipedia.org/wiki/Scientific_Revolution",
            time: Period((
                start: Year(1543),
                end: Year(1687),
            )),
            color: "orange",
        ),
        (
            title: "Seven Years' War",
            summary: "The war started because the Austrian Habsburgs wanted to regain Silesia from the War of Austrian Succession. It involved fighting both in Europe and in overseas colonies. The war ended by establishing Prussia as a great power and giving many of France's colonies to Great Britain.",
            link: "https://en.wikipedia.org/wiki/Seven_Years%27_War",
            time: Period((
                start: Year(1756),
                end: Year(1763),
            )),
            color: "yellow",
        ),
        (
            title: "War of Spanish Succession",
            summary: "Louis XIV attempted to put his grandson on the Spanish throne, which would've upset the balance of power in Europe. The HRE, England, Prussia, and Portugal, among others, all fought against France in order to maintain the balance of power.",
            link: "https://en.wikipedia.org/wiki/War_of_the_Spanish_Succession",
            time: Period((
                start: Year(1701),
                end: Year(1714),
            )),
            color: "yellow",
        ),
        (
            title: "Peace of Utrecht",
            summary: "Ended the War of Spanish Succession. Declared the importance of maintaining the balance of power.",
            link: "https://en.wikipedia.org/wiki/Peace_of_Utrecht",
            time: Single(Year(1714)),
            color: "yellow",
        ),
        (
            title: "Creation of the Guillotine",
            summary: "The famous execution tool of the French Revolution. It was used to decapitate people efficiently.",
            link: "https://en.wikipedia.org/wiki/Guillotine",
            time: Single(Year(1789)),
        ),
        (
            title: "World War I",
            summary: "The first major war with modern military technology. It showed people just how destructive weapons had become, leading to the development of tactics like trade wars to avoid direct conflict at all cost.",
            link: "https://en.wikipedia.org/wiki/World_War_I",
            time: Period((
                start: Date((
                    year: 1914,
                    month: 7,
                    day: 28,
                )),
                end: Date((
                    year: 1918,
                    month: 11,
                    day: 11,
                )),
            )),
            color: "orange",
        ),
    ]
)